name: Check and Test Python Project

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 1 # latest only

      - name: Python set up
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
          cache: "pip"

      - uses: pre-commit/action@v3.0.1

      - name: Install dependencies
        if: ${{ hashFiles('requirements.txt') != '' }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest unittests
        run: |
          pip install pytest
          pytest
